<span class="subText">
    No matter your real estate needs, HomeHunter’s got you covered
</span>
<span class="mainText">
    SELL YOUR HOME WITH EASE
</span>
<button class="sellButton" (click)="this.isCreatingListing = true">
        Sell a property
    </button>
<button class="resourcesButton">
    Resources
</button>

<div class="newListingOverlay" *ngIf="this.isCreatingListing">
    <div class="listingForm">
        <label for="adress">Street Address:<br> <input type="text" #address></label>
        <label for="province">City:<br> <input type="text" #city></label>
        <label for="postalCode">Postal Code:<br> <input type="text" #postalCode></label>
        <label for="beds">Number of Beds:<br> <input type="number" #beds></label>
        <label for="baths">Number of Baths:<br> <input type="number" #baths></label>
        <label for="size">Size (sqft):<br> <input type="number" #size></label>
        <label for="price">Price:<br> <input type="number" #price></label>
        <div class="buttons">
            <button class="cancel" (click)="this.isCreatingListing=false">Cancel</button>
            <button class="submit" (click)="this.postListing()">Submit</button>
        </div>
    </div>
</div>