<div class="cardGrid">
    <div class="rentCard">
        <div class="card">
        <h1> Renter's Guide</h1>
        <img src="assets/c.jpg" style="width:400px;height:300px;" class="center">
        <br><br>
        <p class="center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <br><br>
        <button class="button" (click)="goToPage('RH.html')">CLICK HERE</button>
        
        
        
        </div>
    </div>
    <div class="buyCard">
        <div class="card">
        <h2> Buyer's Guide</h2>
         <img src="assets/b.jpg" style="width:400px;height:300px;"class="center">
         <br><br>
         <p class="center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
         <br><br>
         <button class="button" (click)="goToPage('RH.html')">CLICK HERE</button>
        </div>
    </div>
    <div class="sellCard">
        <div class="card">
        <h3> Seller's Guide</h3>
         <img src="assets/a.jpg" style="width:400px;height:300px;"class="center">
         <br><br>
         <p class="center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
         <br><br>
          <button class="button" (click)="goToPage('RH.html')">CLICK HERE</button>
    </div>
    </div>
</div>