.cardGrid{
    display: grid;
    columns: 3;
    padding: 5%;
    column-gap: 5%;
}

.rentCard{
    grid-column-start: 0;
    grid-column-end: 1;
}

.buyCard{
    grid-column-start: 1;
    grid-column-end: 2;
}

.sellCard{
    grid-column-start: 2;
    grid-column-end: 3;
}

.card{
    height: 500px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 50px;
}