<div class="container">
    <div class="card">
        <h2> Renter's Guide</h2>
        <img src="assets/c.jpg" class="center">
        <p class="center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ullamcorper sed nunc sed viverra. Nam est arcu,
            scelerisque in nunc ac, tempus pellentesque mi. Duis finibus venenatis venenatis. Morbi tristique eros sit amet arcu
            rutrum, sit amet viverra nisi sagittis. Cras porta odio ligula. Praesent sit amet mattis eros, eget faucibus nisi. Sed
            ut ligula sagittis, accumsan urna at, consectetur orci.
        </p>
        <button class="button" (click)="goToPage('RH.html')" class="center">Learn More</button>
    </div>
    
    <div class="card">
        <h2> Buyer's Guide</h2>
        <img src="assets/b.jpg" class="center">
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ullamcorper sed nunc sed viverra. Nam est arcu,
            scelerisque in nunc ac, tempus pellentesque mi. Duis finibus venenatis venenatis. Morbi tristique eros sit amet arcu
            rutrum, sit amet viverra nisi sagittis. Cras porta odio ligula. Praesent sit amet mattis eros, eget faucibus nisi. Sed
            ut ligula sagittis, accumsan urna at, consectetur orci
        </p>
        <button class="button" (click)="goToPage('RH.html')" class="center">Learn More</button>
    </div>

    <div class="card">
        <h2> Seller's Guide</h2>
        <img src="assets/a.jpg" class="center">
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ullamcorper sed nunc sed viverra. Nam est arcu,
            scelerisque in nunc ac, tempus pellentesque mi. Duis finibus venenatis venenatis. Morbi tristique eros sit amet arcu
            rutrum, sit amet viverra nisi sagittis. Cras porta odio ligula. Praesent sit amet mattis eros, eget faucibus nisi. Sed
            ut ligula sagittis, accumsan urna at, consectetur orci
        </p>
        <button class="button" (click)="goToPage('RH.html')" class="center">Learn More</button>
    </div>
</div>

<!-- <div class="block">
    <div class="card">
        <h2> Renter's Guide</h2>
        <img src="assets/c.jpg" class="center">
        <p class="center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <button class="button" (click)="goToPage('RH.html')" class="center">CLICK HERE</button>
        </div>
        <div class="card">
        <h2> Buyer's Guide</h2>
         <img src="assets/b.jpg" class="center">
         <p class="center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
         <button class="button" (click)="goToPage('RH.html')" class="center">CLICK HERE</button>
        </div>
        <div class="card">
        <h2> Seller's Guide</h2>
         <img src="assets/a.jpg" class="center">
         <p class="center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <button class="button" (click)="goToPage('RH.html')" class="center">CLICK HERE</button>
        </div>
</div> -->