<div class="filterBar">
    <input type="text" class="filterField" placeholder="Location">
    <input type="text" class="filterField" placeholder="Max Price">
    <input type="text" class="filterField" placeholder="Beds">
    <input type="text" class="filterField" placeholder="Baths">
    <button class="searchButton">Search</button>
</div>

<span class="sortButton">Sort</span>

<div class="listings">
    <div class="list">
        <div class="property" *ngFor="let listing of data">
            <div class="photos">

            </div>
            <div class="topDetails">
                <div class="location">
                    <div class="adress">{{listing.address}}</div>
                    <div class="city">{{listing.city}}</div>
                </div>
                <div class="price">${{listing.price}}</div>
            </div>

            <div class="bottomDetails">
                {{listing.beds}} Beds | {{listing.baths}} Baths | {{listing.size}}sqft
            </div>
        </div>
    </div>
</div>
