.list{
    display: block;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}


.property{
    width: 90%;
    //height: 20vh;
    background-color: #F1FAEE;
    border: 2px solid #1D3557;
    margin: 5%;
    display: flex;
    border-radius: 30px;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.8),inset  5px 5px 10px rgba(255, 255, 255, 0.479);
    color: #1D3557;
    cursor: pointer;
    align-items: center;
    .photos{
        border-radius: 30px;
        display: inline;
        width: min(20rem,20vw);
        height: 100%;
        margin:2%;
        img{
          border-radius: 15px;
          height: 100%;
          width: 100%;
          border: 2px solid black;
          margin-bottom: 0%;
        }
    }
    .details{
      display: inline-flex;
      flex-direction: column;
      width: 50%;
      align-items: flex-end;
      margin-right: 1rem;
    }
    .topDetails{
      display: inline-block;
      height: fit-content;
        .location{
            display: block;
            .adress{
                display: block;
                text-align: end;
                font-size: larger;
                font-weight: bold;
                padding-top: 1rem;
            }
            .city{
                margin-left: 1rem;
                text-align: end;
                display: block;
                font-size: small;
            }
        }
        .price{
            display: block;
            text-align: end;
            font-weight: bolder;
            font-size: large;
        }
    }
    .bottomDetails{
        height: 2rem;
        display: inline-block;
        margin-top: 30%;
        margin-left: 15px;
    }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F1FAEE;
  border: 1px solid black;
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}

.layoutGrid{
  display: flex;
  .leftPanel{
    background-color: #457B9D;
    height: 95vh;
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    overflow-y: scroll;

   ​
    h1{
      color: #F1FAEE;
      font-weight: bolder;
    }
    .filterOptions{
      align-self: center;
      background-color: #A8DADC;
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 80%;
      border-radius: 10px;
      margin-top: 1rem;
      text-align: center;
      border: 1px solid black;
      box-shadow: inset -2px -2px 4px black, inset 2px 2px 4px white, 2px 2px 4px black;
      input{
        
        width: 15%;
        margin: 5px;
        text-align: center;
        height: 30px;
        border-radius: 30px;
        border: none;
        font-size: small;
        box-shadow: inset 2px 2px 4px black;
        //background-color: #457B9D;
        color: #457B9D;
        font-weight: bold;
        font-size: smaller;   
      }
      input::placeholder{
        color: #457B9D;
        font-weight: bold;
        font-size: smaller;
        font-style: italic;
      }
      button{
        margin-left: 30px !important;
        border-radius: 30px;
        border: none;
        box-shadow: 2px 2px 4px black, inset -2px -2px 4px black, inset 2px 2px 4px white;
        background-color: #1D3557;
        color: #F1FAEE;
        height: 2rem;
        width: 8rem;
        cursor: pointer;
       
      }
      .radio-buttons{
        display: flex;
        //justify-content: center;
        margin: 1rem;
        align-items: center;
        font-weight: bold;
        input{
          box-shadow: none;
          width: 5%;
          height: 1.5em;
        }
      }
    }
    h1{
      text-align: center;
      font-size: 3rem;
      margin-bottom: 0%;
    }
  }
  .rightPanel{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 95vh;
    background-color: #A8DADC;
    
    .fullListing{
      height: 100%;
      //width: 100%;
      display: flex;
      flex-direction: column;
      padding: 10%;
      overflow-y: scroll;
      overflow-x: hidden;
      h1{
        text-align: center;
        margin-bottom: 0%;
      }
      h2{
        text-align: center;
      }
      h3{
        text-align: center;
        font-weight: lighter;
        margin-top: 0%;
      }
      .photos{
        display: block;
        width: 100%;
        //padding-bottom: 50%;
        border: 2px solid black;
        //margin-left: 10%;
        text-align: center;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .ownerDetails{
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-self: flex-end;
        height: fit-content;
        background-color: #457B9D;
        border-radius: 30px;
        padding: 2rem;
        margin-top: 5%;
        box-shadow: inset 5px 5px 10px #192c38, inset -5px -5px 10px rgb(186, 241, 243);
        color: #F1FAEE;
        button{
          margin-top: 1rem;
          width: 80%;
          align-self: center;
          border-radius: 10px;
          border: 1px solid #457B9D;
          background-color: #A8DADC;
          box-shadow: inset 2px 2px 4px white, inset -2px -2px 4px black;
        }
      }
      .propertyDescription{
        width: 100%;
        height: fit-content;
        h2{
          font-size: xx-large;
          text-align: left;
        }
        p{
          font-size: larger;
          padding: 3%;
        }
      }
      .propertyDetails{
        h2{
          font-size: xx-large;
          text-align: center;
        }
      }
      .details{
        width: 100%;
        height: auto;
        display: grid;
        columns: 2;
        text-align: center;
        font-size: large;
        b{
          font-size: larger;
        }
        .size{
          grid-column: 1;
          grid-row: 1;
          margin: 5%;
        }
        .type{
          grid-column: 2;
          grid-row: 1;
          margin: 5%;
        }
        .year{
          grid-column: 1;
          grid-row: 2;
          margin: 5%;
        }
        .monthlyCost{
          grid-column: 2;
          grid-row: 2;
          margin: 5%;
        }
        .beds{
          grid-column: 1;
          grid-row: 3;
          margin: 5%;
        }
        .baths{
          grid-column: 2;
          grid-row: 3;
          margin: 5%;
        }
      }
      .amenities{
        align-self: flex-start;
        h2{
          font-size: xx-large;
          text-align: left;
          margin: 0%;
        }
        .amenitiesList{
          display: inline;
          font-size: larger;
          list-style-type:square;
          ul{
            margin: 0%;
          }
          li{
            float: left;
            margin: 1rem;
          }
        }
      }
    }
  }
}