<header>
  <div class="container">
    <a href='#' routerLinkActive="router-link-active" routerLink="/home" class="logo">HomeHunter</a>
    <nav>
      <ul>
        <li><a href="#" routerLinkActive="router-link-active" routerLink="/rent">Rent</a></li>
        <li><a href="#" routerLinkActive="router-link-active" routerLink="/buy">Buy</a></li>
        <li><a href="#" routerLinkActive="router-link-active" routerLink="/sell">Sell</a></li>
        <li><a href="#" routerLinkActive="router-link-active" routerLink="/learn">Learn</a></li>
      </ul>
    </nav>
  </div>
</header>
<body>
  
</body>
<div class="container">
  <router-outlet></router-outlet>
</div>