.home{
  display: flex;
  width: 100vw;
}

.home-left{
  display: grid;
  grid-auto-rows: 10vh;
  width: 50%;
  height: 95vh;
  .landing-text{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 5%;
    align-items: flex-start;
    grid-row: 3;
    .main-text{
      display: flex;
      font-weight: bolder;
      font-size: 10vh;
      text-align: center;
      color: #1D3557;
    }
    .sub-text{
      display: flex;
      font-size: 3vh;
      padding: 3%;
      font-weight: bold;
      text-align: center;
      color: #457b9d;
    }
  }
}

.home-right{
  display: inline-flex;
  width: 50%;
  height: 95vh;
  background-color: aqua;
  .right-image{
    height: auto;
    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}