<span class="mainText">
    BUY. RENT. SELL.
</span>
<span class="subText">
    Wether you are a young adult
    looking to rent your first home, a working professional in the market to buy your first home, or are looking to
    sell your current home, HomeHunter provides top quality listings and wants to help you sell your own
    house.
</span>
<div class="quickSearch">
    <span class="title"> 
        Quick Search
    </span>
    <div class="searchOptions">
        <div class="topField">
            <span class="innerField">Location</span>
        </div>
        <div class="mainField">
            <span class="innerField">Type</span>
        </div>
        <div class="mainField">
            <span class="innerField">Max Price</span>
        </div>
        <div class="mainField">
            <span class="innerField">Bedrooms</span>
        </div>
        <div class="mainField">
            <span class="innerField">Bathrooms</span>
        </div>
        <div class="bottomSearch">
            <span class="innerField">Search</span>
        </div>
    </div>
</div>    
